button.nav-link {
  background: #E9ECEF;
  border-radius: 0;
  border: none;

  &:focus {
    outline: none;
  }
  &.active:hover {
    color: white;
  }
  & :active {
    outline: none;
  }
  &.active:focus {
    outline: none;
  }
}
