<div class="container mt-2">
  <div *ngIf="(basket$ | async) === null">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <div class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">There are no items in your cart</div>
                    </th>
                  </tr>
                </thead>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(basket$ | async)" class="with-products">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-basket-summary
              (decrement)="decrementItemQuantity($event)"
              (increment)="incrementItemQuantity($event)"
              (delete)="deleteBasketItem($event)"
            ></app-basket-summary>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(basket$ | async)">
      <div class="pb-5">
        <div class="container">
          <div class="row">

          </div>
          <div class="row">
            <div class="col-6 offset-6">
              <app-order-totals></app-order-totals>
              <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                Proceed to checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

